@import url('https://fonts.googleapis.com/css2?family=Graduate:wght@400&display=swap');

/* Apply font to the body */
body {
  font-family: "Graduate", serif;
  font-weight: 400;
  font-style: normal;
}

/* Additional styles can be added here */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}